services:
  seatd:
    image: ghcr.io/centroid-is/weston:latest
    container_name: seatd
    privileged: true
    user: root
    restart: unless-stopped
    volumes:
      - /dev:/dev:rw
      - /run/udev:/run/udev:ro
      - ./seatd-socket:/run # I know, this is not good
    command: seatd -g seat

  weston:
    image: ghcr.io/centroid-is/weston:latest
    container_name: weston
    user: root
    privileged: true
    volumes:
      - ./wayland-socket/user:/run/user
      - ./seatd-socket:/run
      - /dev:/dev:rw
      - /run/udev:/run/udev:ro
    environment:
      XDG_RUNTIME_DIR: /run/user/1000
    ports:
      - 5900:5900
    restart: unless-stopped
    entrypoint: >
      bash -lc "
        echo 'centroid:foo' | chpasswd &&
        mkdir -p /run/user/1000 &&
        chown 1000:1000 /run/user/1000 &&
        chmod 0700 /run/user/1000 &&
        exec su -s /bin/bash -c '
         export XDG_RUNTIME_DIR=/run/user/1000
         exec weston -c /home/centroid/.config/weston.ini
        ' centroid
      "

  create-local-share:
    image: alpine:latest
    container_name: create-local-share
    volumes:
      - ./local-share:/home/centroid/.local/share
    command: |
      sh -euxc '
        chown 1000:1000 /home/centroid/.local/share
      '

  flutter:
    image: ghcr.io/centroid-is/centroid-hmi:latest
    container_name: flutter
    group_add:
      - 992
    volumes:
      - ./wayland-socket/user:/run/user
      - ./local-share:/home/centroid/.local/share/ # shared preferences
      - ./opcua_certs:/certs:ro
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
    environment:
      # TFC_GOD: true
      XDG_RUNTIME_DIR: /run/user/1000
      WAYLAND_DISPLAY: wayland-1
      SECRET_BACKEND: file
      SECRET_FILE_TEST_PATH: /home/centroid/.local/share/keyrings/flutter.keyring
      SECRET_FILE_TEST_PASSWORD: TODOSetThisStrongPassword # openssl rand -base64 32
    devices:
      - /dev/dri/renderD128
    depends_on:
      - weston
      - timescaledb
      - create-local-share
    deploy:
      resources:
        limits:
          memory: 1G
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60
    restart: unless-stopped

  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: timescaledb
    restart: unless-stopped
    environment:
      - POSTGRES_DB=hmi
      - POSTGRES_USER=centroid
      - POSTGRES_PASSWORD=FooBarHelloWorld
      # (Optional) You can also set PGDATA or other environment variables.
    ports:
      - 5432:5432
    volumes:
      - ./timescale_data:/var/lib/postgresql/data
      - ./timescale_certs:/certs:ro
    depends_on:
      pg-certs:
        condition: service_completed_successfully
    command: >
      postgres -c ssl=on
               -c ssl_cert_file=/certs/server.crt
               -c ssl_key_file=/certs/server.key
               -c ssl_min_protocol_version=TLSv1.2

  pg-certs:
    image: alpine:latest
    container_name: pg-certs
    restart: "no"
    volumes:
      - ./timescale_certs:/out
    command: |
      sh -euxc '
        apk add --no-cache openssl
        [ -f /out/server.key ] && [ -f /out/server.crt ] && { echo "TLS certs exist, skipping"; exit 0; }
        openssl req -x509 -newkey rsa:2048 -nodes -days 365000 \
          -subj "/C=IS/ST=Hofudborgarsvaedid/L=Hafnarfjordur/O=Centroid/CN=timescaledb" \
          -keyout /out/server.key \
          -out /out/server.crt
        chown 70:70 /out/server.key /out/server.crt
        chmod 600 /out/server.key
        chmod 644 /out/server.crt
        echo "Certs written to /out as uid:gid 70:70"
      '
